@media (max-width: 1024px) {
  .sidebar-container {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background: white;
    z-index: 1050;
    top: 0 !important;
    margin-top: 70px !important;
    height: 100vh !important;
  }
  .sidebar-container.open {
    transform: translateX(0);
    transition: none;
  }
}

@media screen and (max-width:767px){
  .sidebar-container{
    width: 250px !important;
  }
}


@media (min-width: 1024px){
  .sidebar-container {
    transform: none;
    width: 200px !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f8f9fa;
    z-index: 1050;
  }
  
}


@media (min-width: 1440px) {
  .sidebar-container {
    width: 350px !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f8f9fa;
    z-index: 1050;
  }
  
}