

@media (min-width: 768px) {
    .mainContainer {
    margin-left : 50px !important;
    }
}


@media (min-width : 425px) {
    .mainContainer {
        margin-left: 16px !important;
    }
}

@media (min-width : 1024px) {
     .mainContainer {
    margin-left : 330px !important;
    }
}

@media (min-width : 1440px) {
    .mainContainer {
        padding-top: 105px !important;
    }
}