@media (min-width: 425px) {
  .topbar {
    display: none !important;
  }
  .btnIcon {
    margin-bottom: 1rem !important;
  }

  .colContainer {
    padding-top: 4.5 rem !important;
  }

  .sb-toggle-btn {
        left: 20px;
        top: 78px !important;
  }

  div .healthtagsContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    gap: 1.5rem !important;
  }
}



@media (min-width: 768px) {
    .rowContainer div{
        /* width: 100% !important; */
        margin-left: 0% !important;
    } 

    .colContainer {
      width: 100% !important;
    }

    div .healthtagsContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: start !important;
    gap: 0.5rem !important;
  }
}

@media (min-width : 1024px) {

  .rowContainer {
        width: 75% !important;
        margin-left: 25% !important;
    } 
  
    /* .colContainer {
      width: 75% !important;
    } */
}

@media (min-width : 1440px) {
   .rowContainer {
        /* width: 100% !important; */
        margin-left: 20% !important;
    } 
}