@import "tailwindcss";

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@media (min-width: 768px) {
    .offset-md-3 {
        margin-left: 26.5%;
    }
}

.upi-container {
  position: relative;
  display: flex;
  gap: 32px;
}

.upi-box {
  width: 113px;
  height: 129px;
  padding: 24px;
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.upi-box-inner {
  position: relative;
  z-index: 2;
}

.upi-box img {
  width: 56px;
}

.upi-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 129px;
  background-color: #EDFFFE;
  border: 1px solid #00A99D;
  border-radius: 28px;
  z-index: 0;
  transition: transform 0.4s ease;
}

@media (min-width : 769px) {
  .cardsContainer {
    height: 115px !important;
  }
}

