/* @import "bootstrap/dist/css/bootstrap.min.css"; */
/* @import "tailwindcss";
 */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


@media (max-width: 640px){
  .form-wrapper{
    gap:10px
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}


/* @media (min-width: 1200px) {
  .statesData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
} */
 .sign-btn {
  border-radius: 30px;
 }

 .payment-header {
  font-size: 28px;
  font-weight: 600;
  color: #252525;
 }
  .payment-detailes dt {
    color: #858789;
    font-size: 18px;
    font-weight:400;
  }
  .payment-btn {
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 10px 140px;
  }
  .payment-btn1 {
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 10px 151px;
  }

  .dboard-header {
  font-size: 24px;
  font-weight: 700;
  color:#013A63;
  line-height: 120%;
  font-family: 'Urbanist', sans-serif;
  }
  .dboard-h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 120%;
    font-family: 'Urbanist', sans-serif;
  }
  .dcal-div-container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
  }
  .sec-header {
    font-size: 24px;
    font-weight: 500;
    color: #252525;
    line-height: 120%;
    /* font-family: 'Urbanist', sans-serif; */
  }
  .reminder-para  {
    font-size: 15px;
    font-weight: 700;
    color: #252525;
    line-height: 120%;
  }
  .docname-header {
    font-size: 18px;
    font-weight: 700;
    color: #252525;
    line-height: 120%;
  }
  .appointment-btn {
    border-radius: 28px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 120%;
    transition: background-color 0.3s ease;
  }
  .labtest-header {
    font-size: 24px;
    font-weight: 400;
    color: #252525;
    line-height: 120%;
    /* font-family: 'Urbanist', sans-serif; */
  }
  .bookslot-btn {
    border-radius: 28px !important;
    padding: 10px 24px;
    background-color: #00A99D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    transition: background-color 0.3s ease;
  }
  .docname-header {
    /* font-family: 'Urbanist', sans-serif; */
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    line-height: 120%;
  }
  .doc-container-div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-bottom: 0.5px solid #E5E7EB;
  }
  
@media (width: 768px) {

   .toggle-icon-btn{
    position: fixed !important;
    top: 100px !important;
    left: 31px !important;
    background: transparent;
    border: none;
    padding: 11px 0px 0px 4px;
    transition: left 0.4s;
    z-index: 2000;
  }
}

@media  (min-width: 1440px) {
  .statesData .customBorder {
    border-right: #f3f4f6 ;
  }
}

body {
  overflow-x: hidden; 
}